[Unit]
Description=Task Queue Daemon (root executor)
After=network.target

[Service]
Type=simple
ExecStart=/home/pypto-tools/pto-task/app/task-daemon
Restart=on-failure
RestartSec=5

# security
NoNewPrivileges=no
ProtectSystem=no
ProtectHome=no

[Install]
WantedBy=multi-user.target
Alias=taskqueue.service
