[Unit]
Description=Run PTO Task automatic update nightly when idle

[Timer]
OnCalendar=*-*-* 03:17:00
Persistent=true
Unit=pto-task-auto-update.service

[Install]
WantedBy=timers.target
